.backgroundGradient {
  width: 100%;
  height: 714px;
  background-image: url('/images/background.png');
  clip-path: polygon(0 0, 100% 0, 100% 30%, 75% 47%, 33% 74%, 0 94%);
  z-index: -1;
  position: absolute;
}

.wrapper {
  padding-top: 2rem;
  margin: 0;
  width: 100%;
}
