@import 'common';

.container {
  margin-top: 6rem;
  width: 100%;
  margin-bottom: 20rem;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
  flex-direction: column;

  @include mediaquery('xl') {
    align-items: flex-start;
    margin-top: 20rem;
    flex-direction: row;
  }
}

.text {
  font-size: 2rem;
  line-height: 3.8rem;
  color: var(--white);
  width: 100%;
  flex-shrink: 0;
  margin-top: 0;
  //   margin-bottom: 6rem;

  @include mediaquery('xl') {
    padding-right: 6rem;
    max-width: 70%;
    // margin-bottom: 14rem;
  }
}

.list {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @include mediaquery('sm') {
    grid-template-columns: 1fr 1fr;
  }
  @include mediaquery('xl') {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  @include mediaquery('xl') {
    max-width: 30%;
  }
}

.listItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 4rem;

  @include mediaquery('xl') {
    justify-content: flex-end;
    &:not(:last-of-type) {
      margin-bottom: 8rem;
    }
  }
}

.listItemText {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
  margin-right: 1rem;

  @include mediaquery('lg') {
    margin-right: 3rem;
    font-size: 2.2rem;
  }
}

.icon {
  width: 3rem;

  @include mediaquery('lg') {
    width: 4rem;
  }

  @include mediaquery('xl') {
    width: auto;
  }
}

.newsletter {
  @include mediaquery('xl') {
    transform: translateY(-20rem);
  }
}

.regulations {
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: var(--white);

  @include mediaquery('xs') {
    font-size: 1.2rem !important;
  }

  @include mediaquery('lg') {
    font-size: 1.4rem !important;
  }
}
