.featured {
  min-width: 100%;
  max-width: 128rem;
}

.featuredWrapper {
  width: 100%;
  background-color: #182431;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.8rem;
  padding: 3rem 2rem;
  margin-bottom: 8rem;
}

.featuredImageWrapper {
  margin-right: 3rem;
  border-radius: 1.8rem;

  img {
    border-radius: 1.8rem;
    width: 100%;
    height: 100%;
  }
}

.featuredInfo {
  color: #bdddff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.featuredHeading {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.featuredExcerpt {
  color: #fff;
  opacity: 0.5;
  font-size: 1.8rem;
}

.articlesWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleWrapper {
  width: 42.7rem;
  height: 50.5rem;
  background-color: #182431;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8rem;
  padding: 2rem;
  //   margin-right: 4rem;
}

.articleImageWrapper {
  width: 100%;
  height: 21rem;
  border-radius: 1.8rem;
  margin-bottom: 3rem;
  margin-top: 2rem;

  img {
    border-radius: 1.8rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.articleInfo {
  color: #bdddff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.articleHeading {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
