@import 'common';

.wrapper {
  width: 100%;

  @include mediaquery('xs') {
    padding: 0 2rem;
  }

  @include mediaquery('lg') {
    width: 50%;
  }
}

.wrapperHeading {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  line-height: 1.3;

  @include mediaquery('xs') {
    font-size: 3rem;
  }

  @include mediaquery('lg') {
    margin-bottom: 5rem;
  }
}

.heading {
  color: var(--green-300);
  line-height: 1.5;
  margin-bottom: 8rem;
}

.recommendations {
  display: flex;
  flex-direction: column;
  width: 100%;
  //   justify-items: center;
  //   column-gap: 15rem;

  //   grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

  //   @include mediaquery('xs') {
  //     grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  //   }

  //   @include mediaquery('xl') {
  //     grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  //   }

  //   @include mediaquery('xxl') {
  //     grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  //   }
}
