@import 'common';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
  //   padding: 0 10%;

  @include mediaquery('sm') {
    margin-top: 8rem;
  }

  @include mediaquery('lg') {
    margin-top: 10rem;
  }

  @include mediaquery('xl') {
    margin-top: 12rem;
  }
}

.heading {
  font-size: 4rem;
  text-align: center;
}

.content {
  width: 100%;
  padding-top: 4rem;
  max-width: 76rem;

  p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #0a0c10;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #3a3a3a;
  }

  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.9rem;
  }
  h6 {
    font-size: 1.8rem;
  }
}
