.wrapper {
     width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 16rem;

  * {
    color: #e5e5e5;
    font-size: 1.8rem;
    line-height: 1.5;
    grid-column: 1;
  }

  p {
    margin-bottom: 3rem;
  }
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    margin-bottom: 8rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #222222;
}

.title {
  color: #EDEDED;
  font-size: 3.6rem;
}

.author {
    font-family: 'Newsreader', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #EDEDED;
    margin-bottom: 0 !important;
}