@import 'common';

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3rem 0;

  @include mediaquery('lg') {
    margin: 5rem 0;
  }

  @include mediaquery('xl') {
    margin: 8rem 0;
  }
}

.imageWrapper {
  margin-right: 1rem;

  @include mediaquery('sm') {
    margin-right: 2rem;
  }
}

.image {
  width: 3rem;
  height: 3rem;

  &::first-of-type {
    width: auto;
    height: auto;
  }

  @include mediaquery('sm') {
    width: 4rem;
    height: 4rem;
  }

  @include mediaquery('lg') {
    width: 5rem;
    height: 5rem;
  }
}

.textWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.heading {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--dark-100);
  margin: 0;

  @include mediaquery('sm') {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  @include mediaquery('lg') {
    font-size: 2rem;
  }
}

.duration {
  font-size: 1.6rem;
  margin: 0;
  color: var(--gray-300);

  @include mediaquery('sm') {
    font-size: 1.8rem;
  }

  @include mediaquery('lg') {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--dark-100);
  max-width: 57.6rem;

  @include mediaquery('sm') {
    font-size: 1.6rem;
    line-height: 2;
  }

  @include mediaquery('lg') {
    font-size: 1.8rem;
  }
}
