.wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 2rem;

  svg {
    margin-bottom: 6px;
  }
}

.blue {
  background: var(--blue-400);
  svg path {
    fill: var(--blue-200);
  }
}

.green {
  background: var(--green-100);
  svg path {
    fill: var(--blue-500);
  }
}

.yellow {
  background: var(--yellow-100);
  svg path {
    fill: var(--orange);
  }
}

.orange {
  background: var(--orange-100);
  svg path {
    fill: var(--red-100);
  }
}

.purple {
  background: var(--purple-200);
  svg path {
    fill: var(--purple-100);
  }
}
