@import 'common';

.wrapper {
  width: 100%;
  background-color: #141337;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 2.8rem;
  padding: 3rem 2rem;
  margin-bottom: 8rem;
  border: 5px solid #5a58a0;

  a {
    width: 100%;
    background-color: #141337;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 2.8rem;
    position: relative;
    text-decoration: none;
    transition: all 0.3s;

    @include mediaquery('xl') {
      flex-direction: row;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        .heading {
          transition: all 0.3s;
          color: var(--blue-300);
        }
        .icon {
          opacity: 1;
        }
      }
    }
  }
}

.crown {
  position: absolute;
  top: -10rem;
  right: 50%;
  transform: rotate(-15deg) translateX(50%);

  @include mediaquery('lg') {
    top: -7rem;
    right: -5rem;
    transform: rotate(10deg);
  }
}

.imageWrapper {
  border-radius: 1.8rem;

  @include mediaquery('xl') {
    min-width: 50%;
    max-width: 50%;
  }

  @include mediaquery('lg') {
    margin-right: 3rem;
  }

  img {
    border-radius: 1.8rem;
    width: 100%;
    height: 100%;
  }
}

.content {
  margin-top: 3rem;
  flex-grow: 1;
}

.info {
  color: #7f90a4;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.heading {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  margin-top: 2rem;

  @include mediaquery('xs') {
    font-size: 3rem;
  }
}

.excerpt {
  color: #fff;
  opacity: 0.5;
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 0;

  @include mediaquery('xl') {
    max-width: 85%;
  }
}
