@import 'common';

.playerWrapper {
  position: relative;
  margin: 3rem 0;
  overflow: hidden;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  width: 100%;
  grid-column: 1/4 !important;
  align-self: center;
  justify-self: center;

  @include mediaquery('lg') {
    max-width: 80rem;
    grid-column: 2 !important;
  }
}

.player {
  position: absolute;
  top: 0;
  left: 0;
}
