@import 'common';

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;

  @include mediaquery('lg') {
    margin-bottom: 15rem;
  }
}

.index {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 8px;

  @include mediaquery('lg') {
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
  }
}

.heading {
  font-size: 3rem;
  color: #3a3a3a;
  margin-bottom: 1rem;

  @include mediaquery('lg') {
    margin-bottom: 2rem;
    font-size: 4rem;
  }

  @include mediaquery('xl') {
    font-size: 6rem;
  }
}

.excerpt {
  font-size: 1.8rem;
  color: #6b7280;
  line-height: 1.7;

  @include mediaquery('lg') {
    font-size: 2.2rem;
    max-width: 70%;
  }

  @include mediaquery('xl') {
    font-size: 2.4rem;
  }
}

.link {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  @include mediaquery('lg') {
    font-size: 2.2rem;
  }

  @include mediaquery('xl') {
    font-size: 2.4rem;
  }

  &-blue {
    color: #0ea5e9;
  }
  &-green {
    color: #4ade80;
  }
  &-yellow {
    color: #facc15;
  }
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  transform: translateY(2px);

  &-blue {
    path {
      fill: #0ea5e9;
    }
  }
  &-green {
    path {
      fill: #4ade80;
    }
  }
  &-yellow {
    path {
      fill: #facc15;
    }
  }
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 2rem 2rem;
  position: relative;

  @include mediaquery('xl') {
    justify-content: flex-start;
    flex-direction: row;
    padding: 4rem 5rem;
  }
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 2rem;
  background: #fff;
  list-style: none;
  width: 100%;
  border-radius: 8px;
  z-index: 2;

  @include mediaquery('lg') {
    max-width: 45rem;
  }
}

.technology {
  width: 100%;
  color: #000;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.image {
  display: none;

  @include mediaquery('xl') {
    display: block;
    position: absolute;
    width: 70%;
    right: -3rem;
    top: 2rem;
  }

  @include mediaquery('xxl') {
    right: -5rem;
    top: 2rem;
  }
}

.blue {
  background: var(--blue-gradient);
}

.green {
  background: var(--green-gradient);
}

.yellow {
  background: var(--yellow-gradient);
}

.orange {
  background: var(--orange-gradient);
}

.purple {
  background: var(--purple-gradient);
}

.black {
  background: var(--black-gradient);
}
