@import 'common';

.hamburger {
  --upper-line-transform: translateY(-4px) rotate(0deg);
  --bottom-line-transform: translateY(4px) rotate(0deg);
  width: 2.4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  flex-direction: column;

  @include mediaquery('lg') {
    display: none;
  }

  &Open {
    --upper-line-transform: translateY(1.6px) rotate(45deg);
    --bottom-line-transform: translateY(0px) rotate(-45deg);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 2.2rem;
    background-color: var(--black);
    transition: transform 0.15s ease;
    transform: translate(-50%, -50%);
  }

  &::before {
    transform: var(--upper-line-transform);
  }

  &::after {
    transform: var(--bottom-line-transform);
  }
}
