@import 'common';

.container {
  margin-top: 6rem;
  width: 100%;
}

.content {
  margin-bottom: 6rem;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
  flex-direction: column;

  @include mediaquery('xl') {
    align-items: flex-start;
    margin-top: 20rem;
    flex-direction: row;
  }
}
