.wrapper {
  width: 100%;
  height: 81px;
  max-width: 1183px;
  background-color: #e8f2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  margin: 0 auto;
  border-radius: 12px;
}
