@import 'common';

.wrapper {
  width: 100%;
  margin-bottom: 6rem;
}

.heading {
  color: #21232c;
  font-size: 1.6rem;

  @include mediaquery('lg') {
    font-size: 1.8rem;
  }

  @include mediaquery('xl') {
    font-size: 2rem;
  }
}

.list {
  width: 100%;
  list-style: none;
  padding: 2rem 0 0 0;
}

.item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include mediaquery('lg') {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  @include mediaquery('xl') {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}
