@import 'common';

.link {
  text-decoration: none;
  border-bottom: 2px solid var(--gray);
  color: var(--blue-600);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.6rem;

  &:hover,
  &:active,
  &:focus {
    background: var(--blue-700);
    color: var(--blue-800);
    border-bottom: 2px solid var(--blue-800);
  }

  @include mediaquery('lg') {
    font-size: 1.9rem;
    line-height: 3.7rem;
  }

  @include mediaquery('xl') {
    font-size: 2rem;
    line-height: 3.8rem;
  }
}
