@import 'common';

.wrapper {
  margin-bottom: 5rem;
  max-width: 60rem;

  @include mediaquery('lg') {
    margin-bottom: 7rem;
  }
}

.link {
  color: var(--black);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;

  &:hover,
  &:focus {
    .heading {
      color: var(--blue-300);
    }
    .icon {
      opacity: 1;
    }
  }
}

.heading {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: var(--dark-100);
  margin: 0;
  margin-bottom: 1.5rem;

  @include mediaquery('lg') {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  @include mediaquery('xl') {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

.text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--dark-200);
  margin: 0;

  @include mediaquery('xs') {
    max-width: 45rem;
  }

  @include mediaquery('lg') {
    font-size: 1.6rem;
    line-height: 2.8rem;
    max-width: 55rem;
  }

  @include mediaquery('xl') {
    font-size: 1.8rem;
    line-height: 3rem;
    max-width: 100%;
  }
}

.readMore {
  font-weight: 600;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.icon {
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 1rem;
  transform: translateY(2px);

  path {
    fill: var(--blue-300);
  }
}
