@import 'common';

.wrapper {
  margin-bottom: 5rem;
  max-width: 60rem;
  border: 5px solid var(--border-gray);

  @include mediaquery('lg') {
    margin-bottom: 7rem;
  }
}

.link {
  color: var(--black);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.3s;
  --line-height: 2.8rem;

  @include mediaquery('xl') {
    --line-height: 3rem;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      .heading {
        transition: all 0.3s;
        color: var(--blue-300);
      }
      .icon {
        opacity: 1;
      }
    }
  }
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  font-weight: 600;
  //   color: #f2f5f7;
  color: #7f90a4;
  margin: 0;
  margin-bottom: 1.5rem;

  @include mediaquery('lg') {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  @include mediaquery('xl') {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.text {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: var(--line-height);
  color: #ffffff;
  margin: 0;

  @include mediaquery('xs') {
    max-width: 45rem;
  }

  @include mediaquery('lg') {
    max-width: 55rem;
  }

  @include mediaquery('xl') {
    font-size: 1.8rem;
    line-height: var(--line-height);
    max-width: 100%;
  }
}

.primary {
  background: #0e1d29;
  height: 26rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1.8rem 1.8rem 0 1.8rem;
  border-radius: 6px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;

  @include mediaquery('lg') {
    height: 26rem;
    padding: 3rem 3rem 0 3rem;
    border-radius: 10px;
  }

  .link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2rem;

    @media (hover: hover) {
      &:hover,
      &:focus {
        .heading {
          color: var(--blue-300);
        }
      }
    }
  }

  .text {
    overflow: hidden;
    max-height: calc(var(--line-height) * 4);
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }
}

.wrapper {
  max-width: 38rem;

  min-width: 30rem;
  background-color: #0e1d29;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2.8rem;
  padding: 1.5rem;
  padding-bottom: 6rem;
  //   margin-right: 4rem;

  @include mediaquery('xs') {
    padding: 2rem;

    max-width: 100%;
  }

  @include mediaquery('lg') {
    min-height: 50.5rem;
  }
}

.wrapperRecommended {
  border-radius: 1.4rem;
  background: #142430;
  margin-bottom: 3rem;
  align-items: flex-start;

  @include mediaquery('lg') {
    min-height: 23rem;
    margin-bottom: 5rem;
  }
}

.imageWrapper {
  width: 100%;
  border-radius: 1.4rem;
  margin-bottom: 3rem;
  margin-top: 1rem;

  @include mediaquery('xs') {
    // height: 21rem;
    border-radius: 1.8rem;

    img {
      border-radius: 1.8rem;
    }
  }

  img {
    border-radius: 1.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  color: #7f90a4;
  font-size: 1.5rem;

  @include mediaquery('lg') {
    font-size: 1.7rem;
  }

  @include mediaquery('xl') {
    font-size: 1.8rem;
  }
}

.heading {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  line-height: 1.5;

  @include mediaquery('lg') {
    font-size: 2.4rem;
  }

  @include mediaquery('xl') {
    font-size: 2.5rem;
  }
}
