.shadow {
  display: none;
  width: 100%;
  height: 15rem;
  position: fixed;
  bottom: 0;
  z-index: 9999999999999;
  pointer-events: none;
  background: linear-gradient(
    rgba(14, 20, 27, 0) 0%,
    rgba(14, 20, 27, 0.01) 8.1%,
    rgba(14, 20, 27, 0.047) 15.5%,
    rgba(14, 20, 27, 0.106) 22.5%,
    rgba(14, 20, 27, 0.176) 29%,
    rgba(14, 20, 27, 0.26) 35.3%,
    rgba(14, 20, 27, 0.353) 41.2%,
    rgba(14, 20, 27, 0.45) 47.1%,
    rgba(14, 20, 27, 0.55) 52.9%,
    rgba(14, 20, 27, 0.647) 58.8%,
    rgba(14, 20, 27, 0.74) 64.7%,
    rgba(14, 20, 27, 0.824) 71%,
    rgba(14, 20, 27, 0.894) 77.5%,
    rgba(14, 20, 27, 0.953) 84.5%,
    rgba(14, 20, 27, 0.99) 91.9%,
    rgb(14, 20, 27) 100%
  );
}
