@import 'common';

.content {
  width: 100%;
  padding-top: 4rem;
  display: grid;
  grid-column-gap: 2.4rem;
  grid-template-columns:
    1fr
    min(130ch, calc(100% - 4.8rem))
    1fr;

  em {
    font-family: 'Criteria Demi';
    color: #ff39a8;
  }

  ol {
    list-style: none;
    counter-reset: item;
    li {
      font-size: 1.8rem;
      line-height: 3.6rem;
      position: relative;
      counter-increment: item;

      @include mediaquery('lg') {
        font-size: 1.9rem;
        line-height: 3.7rem;
      }

      @include mediaquery('xl') {
        font-size: 2rem;
        line-height: 3.8rem;
      }

      &::before {
        content: counter(item) '. ';
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 50%;
        left: -2.2rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #ff39a8;
        line-height: 0;
      }
    }
  }

  pre[class*='language-'],
  pre {
    font-size: 1.7rem;
    line-height: 1.7;
    width: 100%;
    max-width: 80rem;
    align-self: center;
    justify-self: center;
    grid-column: 1 / 4;
    padding: 3.2rem;
    background: #f5f6f9;
    border: none;
    color: #2a2a2a;
    tab-size: 2;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    overflow-wrap: break-word;
    word-spacing: normal;
    word-break: keep-all;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
    margin: 4rem 0;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }

    @include mediaquery('lg') {
      border-radius: 8px;
    }
  }

  code {
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
  }

  :not(pre) > code {
    padding: 3.5px 6px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.06);
    letter-spacing: -0.5px;
    font-size: 1.6rem;
  }

  .mdx-marker {
    background: #e9ebf2;
    display: block;
    margin-right: -3.2rem;
    margin-left: -3.2rem;
    padding-right: 1em;
    padding-left: 2.4rem;
    border-left: 4px solid #5263f2;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: #4f7d95;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.string,
  .token.attr-value {
    color: #651fff;
  }

  .token.string {
    font-weight: 600;
  }

  .token.keyword,
  .token.attr-name,
  .token.template-string,
  .token.selector {
    color: #651fff;
  }

  .token.tag,
  .token.property,
  .token.number,
  .token.class-name,
  .token.constant {
    color: #ff39a8;
  }

  .token.tag {
    font-weight: 600;
  }

  .token.function,
  .token.function-variable {
    color: #5263f2;
  }

  .token.parameter {
    color: #0a0c10;
  }

  .token.selector {
    font-weight: 600;
  }

  .token.known-class-name {
    color: #2a2a2a;
  }
}

.content > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
