@import 'common';

.heading {
  margin-bottom: 2rem !important;

  @include mediaquery('xl') {
    margin-bottom: 0 !important;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mediaquery('lg') {
    flex-direction: row;
  }
}

.text {
  color: var(--gray-300);
  font-size: 1.6rem;
  line-height: 1.7;
  margin-top: 0;

  @include mediaquery('lg') {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  @include mediaquery('xl') {
    margin-right: 8rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 2;
  }
}

.contact {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0;

  div {
    transform: translateY(0);
    width: auto;
  }

  @include mediaquery('lg') {
    padding-right: 2rem;
  }

  @include mediaquery('lg') {
    padding-right: 6rem;
  }

  @include mediaquery('xl') {
    padding-right: 10rem;
  }
}

.image {
  width: 100%;
  width: 30rem !important;
  max-width: 36.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mediaquery('lg') {
    width: 33rem !important;
  }

  @include mediaquery('xl') {
    width: 36.4rem !important;
    height: 63.8rem;
  }
}

.link {
  text-decoration: none;
  border-bottom: 2px solid var(--gray-100);
  color: var(--blue-600);
  font-weight: 600;
  margin: 0 4px;

  &:hover,
  &:active,
  &:focus {
    background: var(--gray-100);
    border-bottom: 2px solid var(--blue-600);
  }
}
