@import 'common';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 2rem;
  background: #0e1d29;
  position: relative;
  margin: 6rem 0;
  border-radius: 0 8px 8px 0;

  @include mediaquery('xs') {
    padding: 3rem;
  }

  &,
  p {
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: var(--white);

    @include mediaquery('lg') {
      font-size: 1.9rem;
      line-height: 3.7rem;
    }

    @include mediaquery('xl') {
      font-size: 2rem;
      line-height: 3.8rem;
    }
  }

  pre,
  code {
    background-color: #101821 !important;
  }
}

.title {
  display: block;
  width: 100%;
  text-align: left;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e1d29;
  width: 5rem;
  height: 5rem;
  left: -2.5rem;
  top: -2.5rem;
  border-radius: 50%;
}

.success {
  border-left: 2px solid rgba(47, 204, 113, 1);
}

.error {
  border-left: 2px solid rgba(255, 0, 0, 1);
}

.warning {
  border-left: 2px solid rgba(241, 196, 14, 1);
}

.info {
  border-left: 2px solid rgba(0, 155, 255, 1);
}
