@import 'common';

.wrapper {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.heading {
  font-size: 2.6rem;
  font-family: 'Criteria Demi';
  color: var(--red);
  margin-bottom: 5rem;

  @include mediaquery('lg') {
    font-size: 2.8rem;
  }

  @include mediaquery('xl') {
    font-size: 3rem;
  }
}

.postsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.primary {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  transform: translateY(-1rem);

  @include mediaquery('lg') {
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(71rem, 1fr));
  }
}
