.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.heading {
  font-family: 'Criteria CF';
  margin-top: 7rem;
  font-size: 5rem;
  max-width: 100%;
  color: #3a3a3a;
  opacity: 1;
  margin: 0;
}

.heroImage {
  margin-top: 4rem;
  display: none;
}

.textWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.text {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #425466;
  width: 100%;
}
