@import 'common';

.list {
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.8rem;
  margin: 0;
  margin-top: 4rem;
  background: #0e1d29;
  position: relative;
  width: 100%;
  grid-column: 1 / 4 !important;
  padding: 1rem 3rem;

  @include mediaquery('xs') {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
  }

  @include mediaquery('lg') {
    padding: 1rem 5rem;
    margin: 2rem auto;
    margin-top: 6rem;

    border-radius: 1.8rem;
  }
}

.listItem {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #bdddff;
  padding: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mediaquery('sm') {
    font-size: 1.8rem;
  }

  @include mediaquery('lg') {
    font-size: 2rem;
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.text {
  margin-right: 1rem;
}
