@import 'common';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  margin: 12rem 0 8rem 0;
  background: var(--yellow-100);
  position: relative;
  width: 100%;
  //   grid-column: 1 / 4 !important;
  padding: 6rem 3rem 2rem 3rem;
  border: 5px solid var(--yellow);

  @include mediaquery('lg') {
    padding: 4rem 5rem;
    margin: 6rem 0;
    border-radius: 1.8rem;
    align-items: flex-start;
  }

  form {
    margin: 0;
  }
}

.content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  @include mediaquery('lg') {
    font-size: 2.4rem !important;
  }

  @include mediaquery('xl') {
    font-size: 2.6rem !important;
  }

  @include mediaquery('xl') {
    font-size: 2.8rem !important;
  }
}

.link {
  text-decoration: none;
  border-bottom: 2px solid #fad03a;
  color: #fad03a;
  font-weight: bold;
}

.image {
  position: absolute;
  top: -4rem;
  width: 10rem;
  @include mediaquery('lg') {
    top: -4rem;
    right: -2rem;
    transform: rotate(0deg);
  }

  @include mediaquery('xxl') {
    top: -6rem;
    right: -4rem;
    width: auto;
  }
}
