@import 'common';

.wrapper {
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include mediaquery('lg') {
    margin-bottom: 4rem;
  }
}

.newsletterWrapper {
  color: var(--black);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;
  max-width: 60rem;
}

.heading {
  font-size: 2.6rem;
  font-family: 'Criteria Demi';
  color: var(--red);
  margin: 0;
  margin-bottom: 3rem;

  @include mediaquery('lg') {
    font-size: 2.8rem;
  }

  @include mediaquery('xl') {
    font-size: 3rem;
  }
}

.text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--dark-200);
  margin: 0;
  position: relative;

  @include mediaquery('xs') {
    max-width: 45rem;
  }

  @include mediaquery('lg') {
    font-size: 1.8rem;
    line-height: 3.2rem;
    max-width: 55rem;
  }

  @include mediaquery('xl') {
    max-width: 100%;
  }
}

.icon {
  display: inline-block;
  margin-left: 1rem;
  width: 1.6rem;
  transform: rotate(90deg);
}
