@import 'common';

.wrapper {
  width: 100%;
  position: relative;
  margin-top: clamp(5rem, 10vh, 30rem);
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 156rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mediaquery('xl') {
    flex-direction: row;
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

.wave {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  display: block;

  @include mediaquery('xxxl') {
    display: none;
  }
}

.copyrights {
  color: #fff;
  font-size: clamp(1.4rem, 4vw, 2rem);
}
