@import 'common';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  margin: 18rem 0 8rem 0;
  background: #0e1d29;
  position: relative;
  width: 100%;
  grid-column: 1 / 4 !important;
  padding: 6rem 3rem 2rem 3rem;

  @include mediaquery('lg') {
    padding: 4rem 5rem;
    margin: 14rem 0;
    border-radius: 1.8rem;
    align-items: flex-start;
  }

  form {
    margin: 0;
  }
}

.content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--white);
  text-align: center;

  @include mediaquery('lg') {
    font-size: 2.4rem !important;
  }

  @include mediaquery('xl') {
    font-size: 2.6rem !important;
  }

  @include mediaquery('xl') {
    font-size: 2.8rem !important;
  }
}

.icons {
  margin-left: 2rem;
  transform: translateY(0.5rem);
  display: inline-block;

  @include mediaquery('lg') {
    display: none;
  }
}

.links {
  color: #7f90a4;
  margin-left: 2rem;
  display: none;

  a {
    padding: 0 1rem;
    color: #7f90a4;
    text-decoration: none;
  }

  @include mediaquery('lg') {
    font-size: 2rem;
    display: inline;
  }

  @include mediaquery('xl') {
    font-size: 2.2rem;
  }

  @include mediaquery('xl') {
    font-size: 2.4rem;
  }
}

.image {
  position: absolute;
  top: -4rem;
  width: 10rem;

  @include mediaquery('lg') {
    top: -4rem;
    right: -2rem;
    transform: rotate(0deg);
  }

  @include mediaquery('xxl') {
    top: -6rem;
    right: -4rem;
    width: auto;
  }
}
