@import 'common';

.wrapper {
  background-color: var(--white);
  width: 100%;
  max-width: 116rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 14rem 0;
  margin: 1rem auto;

  @include mediaquery('xxl') {
    border-radius: 1.6rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  border-radius: 8px;
  background: #1876f2;
  border: none;
  width: 20rem;
  height: 5rem;
  color: var(--white);
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 100;
}

.linkText {
  transform: translateY(2px);
}

.logo {
  margin: 0 auto;
  width: 100%;
  max-width: 28rem;
}

.blob {
  position: absolute;
  pointer-events: none;
}

.dotsFirst {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 0;
  right: 4rem;
  display: none;

  @include mediaquery('lg') {
    display: block;
  }
}

.dotsSecond {
  width: 15rem;
  height: 15rem;
  position: absolute;
  bottom: 3rem;
  left: 4rem;
  display: none;
  @include mediaquery('lg') {
    display: block;
  }
}
