@import 'common';

.wrapper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(-5.5rem);

  @include mediaquery('sm') {
    transform: none;
  }
}

.link {
  margin-right: 2rem;

  &:last-of-type {
    margin-right: 1rem;
  }
}
