@import 'common';

.item {
  margin-right: 4rem;
  margin-bottom: 2.2rem;

  @include mediaquery('lg') {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.link {
  font-size: 1.6rem;
  color: var(--black);
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    background-color: var(--black);
    border-radius: 3px;
    opacity: 0;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  @include mediaquery('sm') {
    font-size: 1.8rem;
  }
}

.activeLink {
  position: relative;
  font-weight: 600;

  &:hover,
  &:focus {
    &::before {
      opacity: 0;
    }
  }
}
