@import 'common';

.item {
  margin-bottom: 4.5rem;
  display: flex;
  justify-content: center;

  @include mediaquery('sm') {
    margin-bottom: 5.5rem;
  }

  @include mediaquery('lg') {
    margin-bottom: 6.5rem;
  }

  @include mediaquery('xl') {
    margin-bottom: 0;
    margin-right: 4rem;
  }

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.link {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  color: #fff;
  transition: all 0.3s;
  position: relative;

  &::after {
    content: '';
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    bottom: -6px;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #bdddff;

    @media (hover: hover) {
      display: block;
    }
  }

  &:hover {
    &::after {
      transform: scaleX(100%);
    }
  }

  @include mediaquery('sm') {
    font-size: 2.6rem;
  }

  @include mediaquery('lg') {
    font-size: 2.8rem;
  }

  @include mediaquery('xl') {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
