@import 'common';

.pre[class*='language-'],
.pre {
  margin: 4rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 1.7rem;
  line-height: 1.7;
  width: 100%;
  height: 100%;
  max-width: 80rem;
  align-self: center;
  justify-self: center;
  grid-column: 1 / 4 !important;
  padding: 0 3.2rem;
  background: var(--white-100);
  border: none;
  color: var(--dark-100);
  tab-size: 2;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  scrollbar-width: thin;
  scrollbar-color: var(--black-100) transparent;
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black-100);
    border-radius: 12px;
  }

  @include mediaquery('lg') {
    border-radius: 1.8rem;
    height: auto;
    padding: 3.2rem;
    display: block;
  }
}
