@import 'common';

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #e8f2ff;
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 5rem;
  left: 0;

  @include mediaquery('lg') {
    display: flex;
    border-radius: 1.2rem;
    flex-direction: row;
    position: static;
    align-items: center;
    justify-content: flex-end;
  }
}

.active {
  display: flex;
}

.list {
  padding: 3rem 3rem 0 3rem;

  @include mediaquery('lg') {
    padding: 0;
  }
}

.item {
  margin-right: 4rem;
  margin-bottom: 2.2rem;

  @include mediaquery('lg') {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.link {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    background-color: #000000;
    border-radius: 3px;
    opacity: 0;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  @include mediaquery('sm') {
    font-size: 1.8rem;
  }
}

.activeLink {
  position: relative;
  font-weight: 600;

  &:hover,
  &:focus {
    &::before {
      opacity: 0;
    }
  }
}
