@import 'common';

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  transition: all 0.4s;

  @include mediaquery('xl') {
    display: flex;
    border-radius: 1.2rem;
    background: none;
    flex-direction: row;
    position: static;
    align-items: center;
    justify-content: flex-end;
  }
}

.active {
  display: flex;
}

.list {
  padding: 3rem 3rem 0 3rem;

  @include mediaquery('xl') {
    padding: 0;
  }
}
