@import 'common';

.wrapper {
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  z-index: 10;
  padding: 1.5rem 2rem;
  margin-top: 4rem;
  border-radius: 0 0 8px 8px;

  @include mediaquery('lg') {
    padding: 2rem 4rem;
  }

  @include mediaquery('xl') {
    margin-top: 8rem;
    padding: 2rem 0;
  }
}
