.wrapper {
  width: 100%;
  max-width: 32rem;
  height: 40rem;
  overflow: hidden;
  border-radius: 1.6rem;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.heading {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 7rem;
}

.icon {
  position: absolute;
  bottom: -1.5rem;
  right: -4rem;
}

.blue {
  background: var(--blue-gradient);
}

.green {
  background: var(--green-gradient);
}

.yellow {
  background: var(--yellow-gradient);
}

.orange {
  background: var(--orange-gradient);
}

.purple {
  background: var(--purple-gradient);
}

.black {
  background: var(--black-gradient);
}
