.comment,
.prolog,
.cdata {
  color: #405a70;
}

.namespace {
  opacity: 0.7;
}

.string,
.attr-value,
.keyword,
.attr-name,
.template-string,
.class,
.selector {
  color: #705df2;
}

.tag,
.property,
.number,
.class-name,
.constant {
  color: var(--red);
}

.function,
.function-variable {
  color: #5263f2;
}

.punctuation,
.parameter {
  color: var(--gray-500);
}

.attr-name,
.builtin,
.cdata,
.char,
.inserted,
.operator,
.pseudo-class {
  color: #5263f2;
}
