.comment,
.prolog,
.cdata {
  color: var(--gray-500);
}

.namespace {
  opacity: 0.7;
}

.string,
.attr-value,
.keyword,
.attr-name,
.template-string,
.class,
.selector {
  color: var(--purple-300);
}

.tag,
.property,
.number,
.class-name,
.constant {
  color: var(--red);
}

.tag {
  font-weight: 600;
}

.function,
.function-variable {
  color: var(--blue-100);
}

.punctuation,
.parameter {
  color: var(--dark-200);
}

.selector {
  font-weight: 600;
}

.known-class-name {
  color: #2a2a2a;
}

.attr-name,
.builtin,
.cdata,
.char,
.inserted,
.operator,
.pseudo-class {
  color: var(--blue-500);
}
