// .comment,
// .prolog,
// .cdata {
//   color: #405a70;
// }

// .namespace {
//   opacity: 0.7;
// }

// .string,
// .attr-value,
// .keyword,
// .attr-name,
// .template-string,
// .class,
// .selector {
//   color: #705df2;
// }

// .tag,
// .property,
// .number,
// .class-name,
// .constant {
//   color: var(--red);
// }

// .function,
// .function-variable {
//   color: #5263f2;
// }

// .punctuation,
// .parameter {
//   color: var(--gray-500);
// }

.prolog,
.comment,
.doctype,
.cdata {
  color: var(--gray-300);
}

.property,
.tag,
.deleted,
.constant,
.symbol {
  color: var(--red-100);
}

.boolean,
.number {
  color: var(--yellow);
}

// .attr-name,
// .tag {
//   font-weight: 600;
// }

.string,
.attr-value {
  color: var(--gray-400);
}

.operator,
.entity,
.url,
.string,
.variable,
.language-css,
.keyword {
  color: var(--blue-300);
}

.selector,
.attr-name,
.char,
.builtin,
.insert,
.script-punctuation {
  color: var(--purple-100);
}

.deleted {
  color: var(--orange);
}

.regexp,
.important {
  color: (--yellow);
}

.atrule,
.function {
  color: var(--blue-600);
}

.symbol {
  opacity: 0.7;
}
