@import 'common';

@font-face {
  font-family: Criteria;
  src: url('/fonts/CriteriaCF-Super-Oblique.woff2') format('woff2');
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: GreyCliff;
  src: url('/fonts/GreycliffCF-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GreyCliff;
  src: url('/fonts/GreycliffCF-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LeagueMono;
  src: url('/fonts/LeagueMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LeagueMono;
  src: url('/fonts/LeagueMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: clamp(100%, calc(1rem + 2vw), 24px);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.fonts-loaded-greycliff body {
  font-family: GreyCliff;
  font-weight: normal;
}

.fonts-loaded-criteria h1 {
  font-family: Criteria;
  font-weight: bold;
  font-style: oblique;
}

html,
a,
p,
li,
code {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;

  @include mediaquery('lg') {
    font-size: 55%;
  }

  @include mediaquery('xl') {
    font-size: 58%;
  }

  @include mediaquery('xxl') {
    font-size: 62.5%;
  }
}

// html,
// body {
//   overflow-x: hidden;
//   position: relative;
//   height: 100%;
// }
