html,
a,
p,
li,
code {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Criteria';
  src: url('/fonts/CriteriaCFBold.woff'), url('/fonts/CriteriaCFBold.ttf'),
    url('/fonts/CriteriaCFBold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Criteria Demi';
  src: url('/fonts/CriteriaCFDemibold.woff'), url('/fonts/CriteriaCFDemibold.ttf'),
    url('/fonts/CriteriaCFDemibold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
