@import 'common';

* {
  box-sizing: border-box;
  scroll-margin-top: 4rem;
  ::selection {
    background-color: white;
    color: black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
  overflow-x: hidden;
}

body {
  background-color: white;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  background: #0f0d0c;
  color: white;
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

button {
  border: none;
  background: none;
}

.mainWrapper {
  max-width: 128rem;
  margin: 35rem auto 0 auto;
}

[data-radix-portal] {
  width: 100%;
  z-index: 10 !important;
}
