@import 'common';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  height: 100%;
  width: 100%;
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

button {
  border: none;
  background: none;
}

:not(pre) > code {
  padding: 3.5px 6px;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
  letter-spacing: -0.5px;
  font-size: 1.6rem;
}

.mdx-marker {
  background: var(--gray-100);
  display: block;
  margin-right: -3.2rem;
  margin-left: -3.2rem;
  padding-right: 1em;
  padding-left: 2.4rem;
  border-left: 4px solid var(--red);
  padding-top: 5px;
  padding-bottom: 5px;
}

* {
  scroll-margin-top: 4rem;
}

video,
iframe {
  @include mediaquery('lg') {
    border-radius: 10px !important;
  }
}
