@import 'node_modules/normalize-scss/sass/normalize.scss';
@include normalize();

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}
