:root {
  --white: rgb(255, 255, 255);
  --white-100: rgb(245, 246, 249);
  --black: rgb(0, 0, 0);
  --black-100: rgba(0, 0, 0, 0.1);
  --dark-100: rgb(33, 35, 44);
  --dark-200: rgb(10, 12, 16);
  --dark-300: rgb(15, 27, 53);
  --gray: rgb(226, 234, 253);
  --gray-100: rgb(232, 242, 255);
  --gray-200: rgb(58, 58, 58);
  --gray-300: rgb(66, 84, 102);
  --gray-400: rgb(107, 114, 128);
  --gray-500: rgb(79, 125, 149);
  --gray-600: rgb(108, 118, 147);
  --gray-700: rgba(241, 241, 241, 0.3);
  --blue-100: rgb(0, 0, 238);
  --blue-200: rgb(14, 165, 233);
  --blue-300: rgb(82, 99, 242);
  --blue-400: rgba(34, 211, 238, 0.3);
  --blue-500: rgb(6, 182, 212);
  --blue-600: rgb(81, 131, 245);
  --blue-700: rgba(81, 131, 245, 0.7);
  --blue-800: rgba(55, 92, 177, 0.7);
  --blue-gradient-accent: rgba(34, 211, 238, 0.8);
  --blue-gradient-accent-dark: rgba(14, 56, 165, 0.8);
  --blue-gradient-accent-secondary: rgba(74, 103, 247, 0.9);
  --yellow: rgb(250, 204, 21);
  --yellow-100: rgba(250, 204, 21, 0.3);
  --yellow-gradient-accent: rgba(250, 204, 21, 0.8);
  --green: rgb(74, 222, 128);
  --green-100: rgba(74, 222, 128, 0.3);
  --green-200: rgba(74, 222, 128, 0.2);
  --green-300: rgb(42, 169, 89);
  --green-gradient-accent: rgba(74, 222, 128, 0.8);
  --red: rgb(255, 10, 120);
  --red-100: rgb(219, 39, 119);
  --red-gradient-accent: rgba(255, 10, 120, 0.7);
  --purple: rgb(102, 51, 153);
  --purple-100: rgb(147, 51, 234);
  --purple-200: rgba(217, 70, 239, 0.3);
  --purple-300: rgb(101, 31, 255);
  --purple-gradient-accent: rgba(217, 70, 239, 0.8);
  --purple-gradient-accent-secondary: rgba(170, 0, 255, 0.8);
  --orange: rgb(249, 115, 22);
  --orange-100: rgba(251, 146, 60, 0.3);
  --orange-gradient-accent: rgba(251, 146, 60, 0.8);
  --border-purple-dark: #5a58a0;
  --border-purple-light: #9788ff;
  --border-blue: #4a7ead;
  --border-gray: #1f2d37;
}
