@import 'common';

.container {
  margin: 3rem 0;

  @include mediaquery('sm') {
    margin: 8rem 0;
  }

  @include mediaquery('lg') {
    margin: 10rem 0;
  }

  @include mediaquery('xl') {
    margin: 12rem 0;
  }
}

.container {
  margin-top: 6rem;
  width: 100%;
}

.content {
  margin-bottom: 6rem;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
  flex-direction: column;

  @include mediaquery('xl') {
    align-items: flex-start;
    margin-top: 20rem;
    flex-direction: row;
  }
}

.image {
  flex-shrink: 0;
  @include mediaquery('xl') {
    width: 40rem;
  }

  @include mediaquery('xxl') {
    width: auto;
  }
}

.text {
  font-size: 2rem;
  line-height: 3.8rem;
  color: var(--white);
  width: 100%;
  flex-shrink: 0;

  @include mediaquery('xl') {
    padding-right: 6rem;
    max-width: 85%;
  }
}

.lineThrough {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid #112f47;
  color: #705df2;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.6rem;
}
